html,
body {
	font-family: 'Roboto', sans-serif;
	
	width: 100%;
	height: 100%;
	/* min-height: 20rem; */
	margin: 0;
	vertical-align: middle;
	text-align: center;
	/* padding-top: 10rem; */
	background: #0288D1;
}

.ourrss-header {
	width: 100%;
	background: #0288D1;
	color: #FFF;
	padding-bottom: 1rem;
	box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2), 0 4px 2px -2px rgba(0, 0, 0, 0.19);
    position:fixed;
    top:0;
    width:100%;
	z-index:90;
	margin-bottom: 10rem;
}
.ourrss-header img {
	width:2rem;
	height: auto;
	border-radius: 25rem;
}
.ourrss-header h3 {
	font-size: 2rem;
    -webkit-margin-after: 0rem;
}

button {
	color: rgb(56, 69, 77);
    background: #0288D1;
    border: none;
	padding: 1rem;
	font-size: 1rem;
}

ourrss-listen {
	height: 100%;
}

.heart {
	fill: #FF4081;
	position: relative;
	top: 5px;
	width: 2rem;
}

.dark-primary-color {
	background: #0288D1;
}

.default-primary-color {
	background: #03A9F4;
}

.light-primary-color {
	background: #B3E5FC;
}

.text-primary-color {
	color: #FFFFFF;
}

.accent-color {
	background: #FF4081;
}

.primary-text-color {
	color: #212121;
}

.secondary-text-color {
	color: #757575;
}

.divider-color {
	border-color: #BDBDBD;
}
